.env
.idea
.history
.venv
__pycache__
.pytest_cache
/.ipynb_checkpoints
.vscode
/svip_db_backups/**/*.dump
/svip_db_backups/**/*.sql
TODO.md
*.swp
.DS_Store

# stuff we don't want to commit quite yet
/sensitive
/docs
/resources
/scratch

svip_api/api/views/beacon_v2.py

# support folder containing project organization files
.0
svip-o-vue/src/components/help/json/convert.py

svip_api/docs/site

/node_modules
