{

    "printWidth": 110,
    "semi": true,
    "htmlWhitespaceSensitivity": "ignore",
    "singleAttributePerLine": false,
    "useTabs": true,
    "bracketSpacing": false,
     "singleQuote": true,
    "arrowParens": "avoid",
    "quoteProps": "consistent",
    "bracketSameLine": true
}
