{
    "printWidth": 110,
    "semi": true,
    "htmlWhitespaceSensitivity": "ignore",
    "singleAttributePerLine": false,
    "useTabs": false,
    "tabWidth": 4,
    "bracketSpacing": false,
    "singleQuote": true,
    "arrowParens": "avoid",
    "quoteProps": "consistent",
    "bracketSameLine": true
}
