# Changelog
## Current Version

  
* __fixed generate_changelog script; install yarn into the api app__
  <p>
  EAD -&gt; refs/heads/main, refs/remotes/origin/main
    
  <small>@ 2021-11-30 20:39:34 (<i>719cf7c3</i>)</small>
  </p>

  
* __keycloak integration; mkdocs integration; consolidation with ui__
  <p>
  
    
  <small>@ 2021-11-30 20:26:03 (<i>6a95621a</i>)</small>
  </p>

  
* __greate a git repo with both api and ui__
  <p>
  
  <small>@ 2021-11-30 14:12:46 (<i>8cfea68c</i>)</small>
  </p>