-r requirements.txt
# blinker==1.4
# git+https://github.com/falquaddoomi/nplusone.git@24632de42d8c309d7181c02f1a93684ffc96567e#egg=nplusone-TrialSpark
# structlog==20.1.0
pytest==7.1.2
pytest-django==4.5.2
