html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px; /* Margin bottom by footer height */
}

footer {
	padding: 20px;
}

/* some tweaks to boostrap-vue's inexplicable whitespace choices */
.card-title {
	margin-bottom: 0;
}

.v-select.searchable .dropdown-toggle::after {
	content: " ";
	margin: 5px;
	border: none;
}

/* plot-specific styles */
.sig-legend {
	font-size: 12px;
}

.legend-swatch {
	vertical-align: baseline;
	margin-right: 2px;
}
