html {
	position: relative;
	min-height: 100%;
}

/* navbar tweaking to reduce dead space */
.svip-navbar { padding: 8px 20px; }

body {
	margin-bottom: 60px; /* Margin bottom by footer height */
}

/* simple page structure for sparse "modal-esque" pages like login and user-info */
.trunk {
	width: 400px;
	padding-top: 25px;
	margin: 25em auto;
}

/* styles for the footer, including version info and attribution logos */
footer {
	padding: 20px;
}

footer .version-info {
	font-size: smaller;
	color: #aaa;
	display: flex;
	align-items: center;
	justify-content: center;

	border-right: solid 1px #ccc;
}
footer .version-info a {
	color: #66d697;
}
footer .version-info .feedback {
	margin-top: 0.5em;
}

/* activates when the footer wraps */
@media (max-width: 991px) {
	/* adds extra padding to body so its content is not obscured by the footer in narrow mode,
	 since the footer gets taller as a result of its contents wrapping */
	body {
		margin-bottom: 440px;
	}

	footer .attributions img {
		/* adds a little vertical space between the logos when they wrap */
		margin-bottom: 10px;
	}

	footer .version-info {
		/* swaps version-info right border for bottom border when the row wraps */
		border-right: none;
		border-bottom: solid 1px #ccc;
		padding-bottom: 15px;
	}
}

/* some tweaks to boostrap-vue's inexplicable whitespace choices */
.card-title {
	margin-bottom: 0;
}
/* remove the upper line from the table header introduces by the bootswatch style we're using */
.table th {
	border-top: none;
}
/* add a bit of padding on the lefthand side to make it feel less close to the left edge */
.table th:first-child { padding-left: 14px; }
.table td:first-child { padding-left: 15px; }

.container-fluid > .card, .card.top-level { box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

.card-body.top-level {
	/* allows tables in cards to be flush with their border, which imo looks nicer */
	/* FIXME: review whether we should have a little bit of padding */
	padding: 0.2rem;
}
.row-details {
	padding: 0 0.75rem 0.5rem 0.75rem;
}
/*
.b-table-details > td { padding: 0 0 1em; }
.b-table-details > td .card-body { padding: 3px 10px 5px; }
*/
.b-table.table > tbody > tr.b-table-details > td {
	/* FIXME: why? */
	padding: 0;
}

.v-select.searchable .dropdown-toggle::after {
	content: " ";
	margin: 5px;
	border: none;
}

#show-svip-vars {
	border-bottom: dotted 1px #555;
	padding-bottom: 2px;
}

/* label styles */
.unavailable { font-style: italic; color: #ccc; }
.bold { font-weight: bold; }

/* plot-specific styles */
.sig-legend {
	font-size: 12px;
}

.legend-swatch {
	vertical-align: baseline;
	margin-right: 4px;
}

.popover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

/* ellipsize super-long coordinates */
.variant-results .coordinates {
	word-wrap: break-word;
}
.variant-results .coordinates.truncated {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 30ex;
	display: inline-block;
	word-wrap: inherit;
}

/* make transcript ID prefixes disappear when the screen is too narrow to show them */
@media (max-width: 1200px) {
	.transcript-id {
		display: none;
	}
}

/* general table styles */
.empty-table-msg {
	text-align: center; color: #999; padding: 5px; font-size: 18px;
	font-style: italic;
}

/* styles for tables with toggleable details trays */
.details-tray {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}
.details-tray button {
	width: 100px;
	margin: 0 5px;
}

/* for subtables which occur within an already-nested table (they're inset instead of overlaid) */
.sample-subtable {
	padding: 10px;
	box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
	background-color: #efefef;
}
.sample-subtable table {
	width: 100%;
}

/* styles for filters in evidence tables */
.badge {
	font-size: 13px;
	margin-left: 5px;
}
.filter-phenotype__term {
	background-color: #598059;
}
.filter-environmentalcontext__description {
	background-color: #596680;
}

/* for swiss-po protein viewer */
#viewport {
  touch-action: none;
}
